<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de activos</h3>
    <form (ngSubmit)= "onSubmit()" >
        <div class="form-group">
        <label>Id : </label>
            <input type = "number"
            class="form-control"
            id = "id"
            name = "id"
            minlength="4"
            maxlength="10"
            placeholder="Digite su id "
            >
            </div>
            
        <div class="form-group">
            <label>Nombre : </label>
            <input type = "text"
            class="form-control"
            id = "nombre"
            name = "nombre"
            minlength="4"
            maxlength="10"
            placeholder="Digite su nombre "
            >
            </div>
         <div class="form-group">
            <label>Descripcion : </label>
            <input type = "text"
            class="form-control"
            id = "descripcion"
            name = "descripcion"
            minlength="4"
            maxlength="10"
            placeholder="Digite su descripcion "
            >
         </div>        
             <div class="form-group">
                <label>Tipo : </label>
                <input type = "text"
                class="form-control"
                 id = "tipo"
                 name = "tipo"
                 minlength="4"
                 maxlength="10"
                 placeholder="Digite su tipo "
               >
         </div>
         <div class="form-group">
                <label>serial : </label>
                <input type = "number"
               class="form-control"
               id = "serial"
               name = "serial"
               minlength="4"
               maxlength="10"
               placeholder="Digite su serial "
               >
         </div>
         <div class="form-group">
            <label>numero : </label>
            <input type = "number"
            class="form-control"
            id = "numero"
            name = "numero"
            minlength="4"
            maxlength="10"
            placeholder="Digite su numero "
           >
     </div>
        <div class="form-group">
            <label>interno_de_inventario : </label>
            <input type = "number"
            class="form-control"
            id = "interno_de_inventario"
            name = "interno_de_inventario"
            minlength="4"
            maxlength="10"
            placeholder="Digite su inven "
        >
        </div>    
        <div class="form-group">
            <label>peso : </label>
            <input type = "text"
            class="form-control"
            id = "peso"
            name = "peso"
            minlength="4"
            maxlength="10"
            placeholder="Digite su peso "
        >
        </div> 
        <div class="form-group">
            <label>alto : </label>
            <input type = "text"
            class="form-control"
            id = "alto"
            name = "alto"
            minlength="4"
            maxlength="10"
            placeholder="Digite su altura "
        >
        </div> 
        <div class="form-group">
            <label>ancho : </label>
            <input type = "text"
            class="form-control"
            id = "ancho"
            name = "ancho"
            minlength="4"
            maxlength="10"
            placeholder="Digite su ancho "
        >
        </div> 
        <div class="form-group">
            <label>largo : </label>
            <input type = "text"
            class="form-control"
            id = "largo"
            name = "largo"
            minlength="4"
            maxlength="10"
            placeholder="Digite su largo "
        >
        </div>  
        <div class="form-group">
            <label>valor_compra : </label>
            <input type = "number"
            class="form-control"
            id = "valor_compra"
            name = "valor_compra"
            minlength="4"
            maxlength="10"
            placeholder="Digite su valor "
        >
        </div> 
        <div class="form-group">
            <label>dateCompra : </label>
            <input type = "String"
            class="form-control"
            id = "dateCompra"
            name = "dateCompra"
            minlength="4"
            maxlength="10"
            placeholder="Digite su date "
        >
        </div>    
        <div class="form-group">
            <label>area : </label>
            <input type = "text"
            class="form-control"
            id = "area"
            name = "Area"
            minlength="4"
            maxlength="10"
            placeholder="Digite su area "
        >
        </div>              
        <button class="btn btn-success">Guardar</button>
    </form>
  </div>
  